html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

section {
  align-items: center;
  display: flex;
  justify-content: space-around;
}

section div {
  width: 33.3333%;
}
