html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0 1em;
}

.title {
  align-items: center;
  display: flex;
  font-size: 2rem;
}

section {
  align-items: center;
  display: flex;
  justify-content: space-around;
}

section div {
  width: 33.3333%;
}

img {
  display: block;
  width: 100px;
}

.quest {
  background-color: #f2f2f2;
  border-left: solid #333;
  border-width: 1px;
}

.knight {
  background-color: #e2e2e2;
  border-left: solid #333;
  border-width: 1px;
}

.dragon {
  background-color: #ccc;
  border-left: solid #333;
  border-width: 1px;
}

.laser {
  background-color: #aaa;
  border-left: solid #333;
  border-width: 1px;
}

.btn-small {
  margin: 0 0 1.5rem;
}

a {
  text-decoration: none;
}

li {
list-style-type: none;
}
