html {
  box-sizing: border-box;
  margin-bottom: 1rem;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  background-color: #f2f2f2;
  margin: 1rem;
  font-family: "Open Sans", sans-serif;
}

.title {
  text-align: center;
}

h2 {
  font-size: 2rem;
  font-weight: bold;
}

.cards {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.cards div {
  width: 33.3333%;
}

img {
  margin: 0 auto 1.5rem;
  display: block;
  width: 100px;
}

h3 {
  font-weight: bold;
  margin: 0;
}

.names {
  font-style: italic;
  padding: 0;
}

.quest {
  background-color: #e2e2e2;
  border-left: solid #333;
  border-width: 1px;
  padding: 1rem;
}

.knight {
  background-color: #ccc;
  border-left: solid #333;
  border-width: 1px;
  padding: 1rem;
}

.dragon {
  background-color: #aaa;
  border-left: solid #333;
  border-width: 1px;
  padding: 1rem;
}

.laser {
  background-color: #999;
  border-left: solid #333;
  border-width: 1px;
  padding: 1rem;
}

div a {
  color: #fff;
  padding: .4em .75em .3em;
  padding-bottom: .6em;
  border-radius: 8px;
  border-width: 3px;
  text-decoration: none;
  display: inline;
}

p {
  margin: 0;
  padding-bottom: 1rem;
  font-size: 1rem;
}

.btn {
  display: block;
  font-size: 1.125rem;
  background-color: #333;
  color: #fff;
}

.btn:hover {
  background-color: #000;
}

.btn-small {
  font-size: .875rem;
}
